openapi: 3.1.0
info:
  title: Spicrawl API
  version: 1.0.0
  summary: Turn any URL into clean content or structured data with one request.
  description: |
    Spicrawl retrieves, renders and extracts web pages. One request shape serves every
    capability; you say what you want with flags and the platform chooses the engine,
    the proxy exit and the retries.

    Rules an agent should hold on to:

    - **Two statuses.** The HTTP status is the platform's. The target site's status is
      `X-Target-Status` (and `status` inside the JSON envelope, `target_status` on an
      error). A site that refused you is still a successful API call.
    - **Switch on `code`, retry on `retryable`.** Every error is `application/problem+json`
      with a stable `code` (`ERR::FAMILY::NAME`) and the server's own `retryable` verdict.
      Honour `Retry-After` / `retry_after_seconds`. Read `diagnostics.hint` when present:
      it names the parameter to change.
    - **Failures cost 0 credits.** `X-Credits-Charged` is what was billed;
      `X-Request-Cost` is what it would have cost; `X-Credits-Remaining` is the monthly
      allowance left after it.
    - **Not idempotent.** Retrying `POST /v1/scrape` performs and bills a second scrape.
    - **Unknown fields are rejected.** JSON bodies are decoded strictly; a misspelled
      field is a `400`, never silently ignored.
  contact:
    name: Spicrawl support
    url: https://docs.spicrawl.com
externalDocs:
  description: Guides and error reference
  url: https://docs.spicrawl.com
servers:
- url: https://api.spicrawl.com
  description: Production
- url: http://localhost:8080
  description: Local development
security:
- bearerAuth: []
tags:
- name: Scrape
  description: Fetch, render and extract one URL synchronously.
- name: Batch
  description: Scrape many URLs as one asynchronous job.
- name: Sessions
  description: Reuse cookies, storage and an exit IP across requests.
- name: Browser
  description: Drive a hosted browser over the Chrome DevTools Protocol.
- name: Requests
  description: Inspect the history of requests made in this key's project, or with the `read` scope in
    every project of its organization.
- name: Usage
  description: Credits and volume over time. Requires the `read` scope.
- name: Fleet
  description: Deployment capacity and readiness.
- name: Health
  description: Liveness and readiness probes.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: spicrawl_live_… | spicrawl_test_…
      description: |
        `Authorization: Bearer <key>`. Read the key from the `SPICRAWL_API_KEY` environment
        variable; never hard-code or log it. `spicrawl_test_…` keys can never spend live
        credits. Scopes: `scrape`, `batch`, `sessions` (granted by default), `browser`
        and `read` (granted deliberately). A missing scope is `403
        ERR::AUTH::INSUFFICIENT_SCOPE` naming the scope.
    apiKeyQuery:
      type: apiKey
      in: query
      name: apikey
      description: |
        The key as a query parameter. Only for clients that cannot set headers, such as
        a WebSocket upgrade from Puppeteer or Playwright. Prefer `bearerAuth` everywhere
        else, because URLs end up in logs.
  headers:
    Retry-After:
      description: Seconds to wait before retrying. Present on retryable errors.
      schema:
        type: integer
        minimum: 0
    X-Request-Id:
      description: ULID of this request. Quote it in support requests and use it with `GET /v1/requests/{id}`.
      schema:
        type: string
    X-RateLimit-Limit:
      description: Requests allowed in the current window.
      schema:
        type: integer
    X-RateLimit-Remaining:
      description: Requests left in the current window.
      schema:
        type: integer
    X-RateLimit-Reset:
      description: Seconds until the window resets.
      schema:
        type: integer
  schemas:
    ErrorCode:
      type: string
      description: |
        Stable machine-readable error code, `ERR::FAMILY::NAME`. Switch on this, not on
        `title` or `detail`. `x-spicrawl-errors` lists each code's HTTP status and
        whether it is retryable.
      enum:
      - ERR::AUTH::MISSING_KEY
      - ERR::AUTH::INVALID_KEY
      - ERR::AUTH::REVOKED_KEY
      - ERR::AUTH::EXPIRED_KEY
      - ERR::AUTH::FORBIDDEN
      - ERR::AUTH::INSUFFICIENT_SCOPE
      - ERR::AUTH::INVALID_TOKEN
      - ERR::AUTH::INVALID_CREDENTIALS
      - ERR::AUTH::ENGINE_NOT_ENTITLED
      - ERR::REQUEST::INVALID
      - ERR::REQUEST::MISSING_PARAMETER
      - ERR::REQUEST::INVALID_PARAMETER
      - ERR::REQUEST::INCOMPATIBLE_FLAGS
      - ERR::REQUEST::NOT_FOUND
      - ERR::REQUEST::BEYOND_RETENTION
      - ERR::REQUEST::CONFLICT
      - ERR::REQUEST::PAYLOAD_TOO_LARGE
      - ERR::SECURITY::SSRF_BLOCKED
      - ERR::SECURITY::URL_BLOCKED
      - ERR::SECURITY::INVALID_URL
      - ERR::SESSION::NOT_FOUND
      - ERR::SESSION::EXPIRED
      - ERR::SESSION::RELEASED
      - ERR::SESSION::BUSY
      - ERR::SESSION::STATE_CORRUPT
      - ERR::LIMIT::RATE_LIMITED
      - ERR::LIMIT::CONCURRENCY_EXCEEDED
      - ERR::LIMIT::QUOTA_EXCEEDED
      - ERR::LIMIT::MAX_COST_EXCEEDED
      - ERR::LIMIT::SESSIONS_EXCEEDED
      - ERR::UPSTREAM::TIMEOUT
      - ERR::UPSTREAM::DNS_FAILED
      - ERR::UPSTREAM::TLS_FAILED
      - ERR::UPSTREAM::CONNECTION_RESET
      - ERR::UPSTREAM::TOO_MANY_REDIRECTS
      - ERR::UPSTREAM::ERROR
      - ERR::UPSTREAM::CHALLENGE
      - ERR::PROXY::EXHAUSTED
      - ERR::PROXY::UNREACHABLE
      - ERR::PROXY::AUTH_FAILED
      - ERR::PROXY::RATE_LIMITED
      - ERR::ENGINE::RENDER_FAILED
      - ERR::ENGINE::UNAVAILABLE
      - ERR::EXTRACT::FAILED
      - ERR::EXTRACT::INVALID_RULES
      - ERR::INTERNAL::ERROR
      - ERR::INTERNAL::UNAVAILABLE
      x-spicrawl-errors:
        ERR::AUTH::MISSING_KEY:
          status: 401
          retryable: false
          title: No API key supplied
        ERR::AUTH::INVALID_KEY:
          status: 401
          retryable: false
          title: API key not recognised
        ERR::AUTH::REVOKED_KEY:
          status: 401
          retryable: false
          title: API key has been revoked
        ERR::AUTH::EXPIRED_KEY:
          status: 401
          retryable: false
          title: API key has expired
        ERR::AUTH::FORBIDDEN:
          status: 403
          retryable: false
          title: Not permitted for this organization
        ERR::AUTH::INSUFFICIENT_SCOPE:
          status: 403
          retryable: false
          title: API key lacks the required scope
        ERR::AUTH::INVALID_TOKEN:
          status: 401
          retryable: false
          title: Session token is invalid or expired
        ERR::AUTH::INVALID_CREDENTIALS:
          status: 401
          retryable: false
          title: Email or password is incorrect
        ERR::AUTH::ENGINE_NOT_ENTITLED:
          status: 403
          retryable: false
          title: The organization's plan does not include this engine
        ERR::REQUEST::INVALID:
          status: 400
          retryable: false
          title: Request could not be understood
        ERR::REQUEST::MISSING_PARAMETER:
          status: 400
          retryable: false
          title: A required parameter is missing
        ERR::REQUEST::INVALID_PARAMETER:
          status: 400
          retryable: false
          title: A parameter has an invalid value
        ERR::REQUEST::INCOMPATIBLE_FLAGS:
          status: 400
          retryable: false
          title: Incompatible flag combination
        ERR::REQUEST::NOT_FOUND:
          status: 404
          retryable: false
          title: Resource not found
        ERR::REQUEST::BEYOND_RETENTION:
          status: 410
          retryable: false
          title: Beyond the request-log retention window
        ERR::REQUEST::CONFLICT:
          status: 409
          retryable: false
          title: Resource already exists
        ERR::REQUEST::PAYLOAD_TOO_LARGE:
          status: 413
          retryable: false
          title: Request body is too large
        ERR::REQUEST::CAPABILITY_UNSUPPORTED:
          status: 400
          retryable: false
          title: The chosen engine cannot do what the request asks
        ERR::SECURITY::SSRF_BLOCKED:
          status: 400
          retryable: false
          title: Target resolves to a private address
        ERR::SECURITY::URL_BLOCKED:
          status: 400
          retryable: false
          title: Target URL is blocked by policy
        ERR::SECURITY::INVALID_URL:
          status: 400
          retryable: false
          title: Target URL is not a valid http(s) URL
        ERR::SESSION::NOT_FOUND:
          status: 404
          retryable: false
          title: No such session
        ERR::SESSION::EXPIRED:
          status: 410
          retryable: false
          title: Session has expired and its context was purged
        ERR::SESSION::RELEASED:
          status: 410
          retryable: false
          title: Session was released and its context was purged
        ERR::SESSION::BUSY:
          status: 409
          retryable: true
          title: Session is in use by a running task
        ERR::SESSION::STATE_CORRUPT:
          status: 500
          retryable: false
          title: Stored session context could not be read
        ERR::LIMIT::RATE_LIMITED:
          status: 429
          retryable: true
          title: Rate limit exceeded
        ERR::LIMIT::CONCURRENCY_EXCEEDED:
          status: 429
          retryable: true
          title: Concurrency limit exceeded
        ERR::LIMIT::QUOTA_EXCEEDED:
          status: 402
          retryable: false
          title: Credit quota exhausted
        ERR::LIMIT::MAX_COST_EXCEEDED:
          status: 400
          retryable: false
          title: Request would exceed max_cost
        ERR::LIMIT::SESSIONS_EXCEEDED:
          status: 429
          retryable: true
          title: Too many live sessions
        ERR::UPSTREAM::TIMEOUT:
          status: 504
          retryable: true
          title: Target did not respond in time
        ERR::UPSTREAM::DNS_FAILED:
          status: 502
          retryable: true
          title: Target hostname could not be resolved
        ERR::UPSTREAM::TLS_FAILED:
          status: 502
          retryable: true
          title: TLS handshake with the target failed
        ERR::UPSTREAM::CONNECTION_RESET:
          status: 502
          retryable: true
          title: Target closed the connection
        ERR::UPSTREAM::TOO_MANY_REDIRECTS:
          status: 502
          retryable: false
          title: Too many redirects
        ERR::UPSTREAM::ERROR:
          status: 502
          retryable: true
          title: Target request failed
        ERR::UPSTREAM::CHALLENGE:
          status: 502
          retryable: true
          title: Target served a bot challenge
        ERR::PROXY::EXHAUSTED:
          status: 503
          retryable: true
          title: No healthy proxy exit available
        ERR::PROXY::UNREACHABLE:
          status: 502
          retryable: false
          title: Supplied proxy is unreachable
        ERR::PROXY::AUTH_FAILED:
          status: 502
          retryable: false
          title: Proxy rejected our credentials
        ERR::PROXY::RATE_LIMITED:
          status: 502
          retryable: true
          title: Proxy exit is rate limited
        ERR::ENGINE::RENDER_FAILED:
          status: 502
          retryable: true
          title: The page could not be rendered
        ERR::ENGINE::UNAVAILABLE:
          status: 503
          retryable: true
          title: No engine capacity available
        ERR::EXTRACT::FAILED:
          status: 502
          retryable: false
          title: The document could not be extracted
        ERR::EXTRACT::INVALID_RULES:
          status: 400
          retryable: false
          title: The extraction rules are invalid
        ERR::INTERNAL::ERROR:
          status: 500
          retryable: true
          title: Internal error
        ERR::INTERNAL::UNAVAILABLE:
          status: 503
          retryable: true
          title: Service temporarily unavailable
    Problem:
      type: object
      description: |
        RFC 7807 error body, served as `application/problem+json`. Switch on `code`;
        retry only when `retryable` is true, after `retry_after_seconds`.
      required:
      - type
      - title
      - status
      - code
      - retryable
      - doc_url
      - target_status
      properties:
        type:
          type: string
          format: uri
          description: Link to this code's entry in the error reference.
        title:
          type: string
          description: Short fixed summary of the code. Do not parse it.
        status:
          type: integer
          description: The platform's HTTP status for this response. Not the target site's.
        code:
          $ref: '#/components/schemas/ErrorCode'
        detail:
          type: string
          description: What happened on this occurrence, in prose. Useful to show a human; do not parse
            it.
        retryable:
          type: boolean
          description: The server's own verdict on whether the same request can succeed on retry. Prefer
            it to guessing from `status`.
        doc_url:
          type: string
          format: uri
          description: Documentation for this code, including how to fix it.
        request_id:
          type: string
          description: ULID of the failed request. Pass it to `GET /v1/requests/{id}` for the full trace.
        instance:
          type: string
          description: Request path that produced the error.
        target_status:
          type:
          - integer
          - 'null'
          description: The target site's HTTP status when the failure came from the site, otherwise null.
        retry_after_seconds:
          type: integer
          minimum: 0
          description: Mirrors the `Retry-After` header for clients that read only the body.
        warnings:
          type: array
          items:
            type: string
          description: Non-fatal decisions the platform made for you, such as a flag ignored by proxy
            precedence.
        diagnostics:
          $ref: '#/components/schemas/ProblemDiagnostics'
    ProblemDiagnostics:
      type: object
      description: Where the request failed and whether the platform, the proxy or the target was at fault.
      properties:
        failed_at:
          type: string
          description: Name of the stage that failed; always the last row of `timeline`.
        timeline:
          type: array
          description: Stages in order, stopping at the failure.
          items:
            type: object
            required:
            - stage
            - ms
            - ok
            properties:
              stage:
                type: string
                description: Stage name.
              ms:
                type: integer
                description: Time spent in the stage in milliseconds.
              ok:
                type: boolean
                description: False only on the failing stage.
              detail:
                type: string
                description: What happened in the stage.
        attempts:
          type: array
          description: Each execution attempt. Under `mode=auto` these span the escalation ladder.
          items:
            type: object
            required:
            - n
            - outcome
            - ms
            properties:
              n:
                type: integer
                description: Attempt number, from 1.
              engine:
                type: string
                description: Engine this attempt ran on.
              proxy:
                type: string
                description: Redacted exit label or proxy scheme and host. Never contains credentials.
              outcome:
                type: string
                description: How the attempt ended.
              ms:
                type: integer
                description: Attempt duration in milliseconds.
              error_code:
                $ref: '#/components/schemas/ErrorCode'
        budget_ms:
          type: integer
          description: Time budget the request had, in milliseconds. Compare with `elapsed_ms` to tell
            a timeout from a refusal.
        elapsed_ms:
          type: integer
          description: Time actually spent, in milliseconds.
        engine:
          type: string
          description: Engine that served the final attempt.
        proxy:
          type: object
          description: Redacted description of the exit used.
          required:
          - source
          properties:
            source:
              type: string
              description: 'Where the exit came from: `pool`, `custom` or `direct`.'
            endpoint:
              type: string
              description: Exit identifier. Not the exit IP.
            country:
              type: string
              description: Exit country, ISO 3166-1 alpha-2 lowercase.
        hint:
          type: string
          description: The next thing to try, naming the parameter to change. Act on it before retrying
            the same request.
    ScrapeRequest:
      type: object
      additionalProperties: false
      required:
      - url
      description: Body of POST /v1/scrape. Unknown fields (including nested ones) are rejected with 400
        ERR::REQUEST::INVALID_PARAMETER; a wrong JSON type is 400 naming the field. Max body 1 MiB (413).
      properties:
        url:
          type: string
          format: uri
          maxLength: 8192
          description: Target URL; required, must be http or https with a host. A private or reserved
            address fails with 400 ERR::SECURITY::SSRF_BLOCKED at 0 credits.
        method:
          type: string
          enum:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
          - HEAD
          - OPTIONS
          default: GET
          description: HTTP method sent to the target (case-insensitive). There is no request-body parameter,
            so non-GET methods are sent without a body; only GET/HEAD/OPTIONS are retried on transient
            failure and only GET results are cached.
        js_render:
          type: boolean
          default: false
          description: Render in a browser engine (obscura; 3 credits datacenter, 25 residential) so JavaScript
            runs. Required by every browser-only flag unless stealth or mode=auto is set; cannot be combined
            with mode=auto. If omitted, the project's stored default applies.
        stealth:
          type: boolean
          default: false
          description: Coming soon. Render in the hardened camoufox browser, flat 25 credits at any proxy tier; wins
            over js_render when both are set. Cannot be combined with mode=auto or with an engine pin
            other than camoufox; returns 503 ERR::ENGINE::UNAVAILABLE where camoufox is not deployed.
            If omitted, the project's stored default applies.
        impersonate:
          type: boolean
          default: false
          description: 'Fetch tier only: present a real browser TLS/HTTP2 fingerprint to pass passive
            fingerprint checks, at no extra cost and with no JavaScript. Ignored on render engines. POST
            only - the GET form rejects `impersonate` as an unknown query parameter. If omitted, the project''s
            stored default applies.'
        mode:
          type: string
          enum:
          - auto
          description: '`auto` escalates through the available engines (fetch -> obscura) until a rung returns a usable page,
            billing only the rung that succeeded (0 if all fail) while reserving the dearest rung against
            quota. Incompatible with js_render, stealth and engine. If omitted, the project''s stored
            default applies.'
        engine:
          type: string
          enum:
          - fetch
          - obscura
          - camoufox
          - chromium
          description: Engine `camoufox` is coming soon. Pin the execution engine (case-insensitive); disables escalation and is never substituted.
            chromium (8 credits datacenter, 32 residential) is the only engine supporting headless=false;
            screenshots and pdf need camoufox or chromium. An unentitled engine is 403 ERR::AUTH::ENGINE_NOT_ENTITLED,
            an undeployed one 503 ERR::ENGINE::UNAVAILABLE, both at 0 credits. If omitted, the project's
            stored default applies.
        premium_proxy:
          type: boolean
          default: false
          description: 'Coming soon. Use residential exits from the managed pool: fetch 10, obscura 25, chromium 32
            credits (camoufox stays 25). If no residential exit is available the request fails 503 ERR::PROXY::EXHAUSTED
            rather than falling back; ignored (with X-Warning PROXY_FLAG_IGNORED) when `proxy` is set.
            If omitted, the project''s stored default applies.'
        proxy_country:
          type: string
          pattern: ^[A-Za-z]{2}$
          description: Coming soon. ISO 3166-1 alpha-2 exit country (case-insensitive), within the residential pool.
            Requires premium_proxy=true (400 ERR::REQUEST::INCOMPATIBLE_FLAGS otherwise) unless `proxy`
            is set, in which case it is ignored with a warning; an unavailable country is 503 ERR::PROXY::EXHAUSTED,
            never substituted. If omitted, the project's stored default applies.
        proxy:
          type: string
          description: Your own proxy URL (http, https, socks5 or socks5h; credentials in userinfo). Takes
            precedence over premium_proxy/proxy_country and adds 0 proxy credits; loopback hosts are refused
            with 400 ERR::SECURITY::SSRF_BLOCKED. An unreachable proxy fails 502 ERR::PROXY::UNREACHABLE.
        proxy_verify:
          type: boolean
          default: false
          description: Probe the custom `proxy` before spending the engine cost so a dead proxy fails
            fast. Requires `proxy` (400 ERR::REQUEST::INCOMPATIBLE_FLAGS otherwise).
        session_id:
          type: string
          description: Reuse a session's cookies and storage (created via /v1/sessions); the session's
            engine is used and pinning a different engine is 400 ERR::REQUEST::INCOMPATIBLE_FLAGS. Checked
            before any work, at 0 credits and not retryable - an unknown, malformed or other organization's
            id is 404 ERR::SESSION::NOT_FOUND, a released session 410 ERR::SESSION::RELEASED, an expired one
            410 ERR::SESSION::EXPIRED. A successful request increments the session's `usage_count`, sets
            `last_used_at` and slides `expires_at`. Requests with a session are never cached.
        sticky_key:
          type: string
          description: Coming soon. Any string; requests sharing it reuse the same pool exit. Forces a pool exit even
            on deployments whose default is direct egress, so it can fail 503 ERR::PROXY::EXHAUSTED where
            no pool exists.
        wait:
          type: integer
          minimum: 0
          maximum: 30000
          default: 0
          description: 'Milliseconds to wait after load before capture. Browser-only: needs js_render,
            stealth, an engine pin with a browser, or mode=auto, else 400 ERR::REQUEST::INCOMPATIBLE_FLAGS.'
        wait_for:
          type: string
          description: CSS selector to wait for before capture. Browser-only. If it never appears the
            page is returned as it stood with an X-Warning RENDER_DEGRADED; if the render times out waiting
            it fails 504 ERR::UPSTREAM::TIMEOUT - raise wait_for_timeout or fix the selector.
        wait_for_timeout:
          type: integer
          minimum: 0
          maximum: 120000
          default: 0
          description: Milliseconds to wait for `wait_for`; 0 uses the engine default. Requires wait_for
            (400 ERR::REQUEST::INCOMPATIBLE_FLAGS otherwise).
        actions:
          type: array
          maxItems: 50
          items:
            $ref: '#/components/schemas/ScrapeAction'
          description: Ordered browser workflow (click, fill, scroll, ...), validated before anything
            is spent. Browser-only; disables the default image/font blocking and makes the request uncacheable.
            A failed step ends the request at 0 credits unless that step has on_error=skip.
        block_resources:
          type: array
          uniqueItems: false
          items:
            type: string
            enum:
            - none
            - document
            - documents
            - stylesheet
            - stylesheets
            - css
            - image
            - images
            - media
            - font
            - fonts
            - script
            - scripts
            - js
            - xhr
            - fetch
            - websocket
            - websockets
            - other
          description: Subresource classes the browser must not load (plural and short aliases accepted,
            case-insensitive). If omitted, renders block image+font except for screenshot, pdf, actions,
            or a network_capture of images/fonts; an explicit list replaces that default and `none` (alone)
            blocks nothing. Any value other than `none` is browser-only. If omitted, the project's stored
            default applies.
        headless:
          type: boolean
          description: false runs the browser on a real display (1920x1080 screen instead of 800x600);
            only engine=chromium supports it, anything else is 400 ERR::REQUEST::CAPABILITY_UNSUPPORTED
            at 0 credits. Either value requires a browser engine; omit to use the deployment default (headless).
            Headful renders skip the warm pool and add ~1s. If omitted, the project's stored default applies.
        screenshot:
          type: boolean
          default: false
          description: Capture a screenshot; forces the JSON envelope (image base64 under `screenshots`).
            Needs a rasterising engine (camoufox or chromium) - otherwise 400 ERR::REQUEST::CAPABILITY_UNSUPPORTED
            at 0 credits. mode=auto cannot satisfy it (its fetch rung has no rasteriser). If the image
            is not delivered the page is still returned but charged 0.
        screenshot_fullpage:
          type: boolean
          default: false
          description: Capture the full scrollable page. Requires screenshot=true; mutually exclusive
            with screenshot_selector.
        screenshot_selector:
          type: string
          description: CSS selector of the element to capture. Requires screenshot=true; mutually exclusive
            with screenshot_fullpage.
        screenshot_format:
          type: string
          enum:
          - png
          - jpeg
          - jpg
          - webp
          description: Image format; omitted uses the engine default (png). Not validated by the API -
            an unrecognised value silently falls back to the engine default.
        screenshot_quality:
          type: integer
          minimum: 0
          maximum: 100
          default: 0
          description: Lossy quality for jpeg/webp; 0 uses the engine default. A value above 0 requires
            screenshot=true.
        custom_headers:
          type: object
          additionalProperties:
            type: string
          description: Headers sent to the target, as name -> string value. Hop-by-hop headers (Connection,
            Keep-Alive, Proxy-Authenticate, Proxy-Authorization, TE, Trailer, Transfer-Encoding, Upgrade,
            Host, Content-Length) are refused with 400 ERR::REQUEST::INVALID_PARAMETER. If omitted, the
            project's stored default applies.
        network_capture:
          allOf:
          - $ref: '#/components/schemas/NetworkCapture'
          description: Record the XHR/fetch responses the page itself made (often cleaner JSON than the
            DOM), returned under `network` in the JSON envelope. Browser-only; no extra credits.
        autoparse:
          type: boolean
          default: false
          description: Harvest the page's own structured metadata (JSON-LD, OpenGraph, Twitter, microdata,
            RDFa, meta, embedded SPA state) into `data`, no selectors needed. Forces the JSON envelope;
            no extra credits; refused on a PDF.
        links:
          type: boolean
          default: false
          description: Return the page's absolute, de-duplicated <a href> targets under `links`. Forces
            the JSON envelope; no extra credits; refused on a PDF. If omitted, the project's stored default
            applies.
        extract:
          allOf:
          - $ref: '#/components/schemas/ScrapeExtract'
          description: 'Selector extraction into `data`: a selector map, or a JSON Schema whose properties
            carry `selector`. Forces the JSON envelope, validated before fetching, no extra credits; mutually
            exclusive with extract_preset. Rules that match nothing are listed in `empty_fields`.'
        extract_preset:
          type: string
          description: Coming soon. Name of a server-side extraction preset. This deployment has no preset store, so
            any value fails with 400 ERR::EXTRACT::INVALID_RULES (at 0 credits, after the fetch); use
            `extract` inline. Mutually exclusive with extract.
        ai_extract:
          allOf:
          - $ref: '#/components/schemas/AIExtract'
          description: Coming soon. Model-driven extraction into `data`; adds 4 credits. Refused with 503 ERR::INTERNAL::UNAVAILABLE
            where no model is configured, and a model failure is 502 ERR::EXTRACT::FAILED at 0 credits.
            Forces the JSON envelope.
        main_content_only:
          type: boolean
          description: true strips nav/footer/aside to the main article; false keeps the whole document.
            Omitted keeps the pipeline default (main-content isolation on for markdown). Applies to markdown/text/cleaned
            output. If omitted, the project's stored default applies.
        include_tags:
          type: array
          items:
            type: string
          description: CSS selectors; keep only matching subtrees before extraction and markdown conversion.
            Applied before exclude_tags and main_content_only.
        exclude_tags:
          type: array
          items:
            type: string
          description: CSS selectors; remove matching elements, applied after include_tags and before
            main_content_only.
        parse_pdf:
          type: boolean
          default: true
          description: When the target returns a PDF and markdown/text is requested, parse it to text.
            false refuses it with 502 ERR::EXTRACT::FAILED (0 credits); response_format=html always returns
            the raw bytes. If omitted, the project's stored default applies.
        response_format:
          type: string
          enum:
          - html
          - markdown
          - text
          - json
          - pdf
          default: html
          description: 'Body shape: html/markdown/text return the document itself, json the envelope,
            pdf a browser-printed PDF (needs camoufox or chromium). extract, autoparse, links, ai_extract,
            network_capture or screenshot override this to the JSON envelope with X-Warning FORMAT_COERCED.
            A non-HTML target (image, binary) requested as markdown/text fails 502 ERR::EXTRACT::FAILED
            at 0 credits. If omitted, the project''s stored default applies.'
        cache:
          type: boolean
          default: true
          description: 'Serve a stored result younger than cache_ttl (Cache-State: hit, 0 credits). Only
            billable successes of GET-method requests without session_id or actions are stored. Set false
            for time-sensitive data; cache=false with cache_ttl>0 is 400 ERR::REQUEST::INCOMPATIBLE_FLAGS.'
        cache_ttl:
          type: integer
          minimum: 0
          default: 172800
          description: Maximum acceptable age of a cached result, in seconds. Default and cap are deployment
            settings (48h by default); larger values are clamped with X-Warning CACHE_TTL_CLAMPED. 0 disables
            caching for this request.
        max_cost:
          type: integer
          minimum: 0
          default: 0
          description: Credit ceiling; 0 means none. Checked against the dearest reachable outcome (the
            top rung under mode=auto) before anything runs, failing 400 ERR::LIMIT::MAX_COST_EXCEEDED
            at 0 credits.
        original_status:
          type: boolean
          default: false
          description: 'On success, use the target''s status as this response''s HTTP status instead of
            200. Leave off unless you need it: it makes a target 404 indistinguishable from an API error
            by status alone.'
        allowed_status_codes:
          type: array
          items:
            type: integer
            minimum: 100
            maximum: 599
          description: Extra target statuses to treat as billable successes (200, 404 and 410 always are).
            Other statuses return the target's body at 0 credits, and under mode=auto trigger escalation.
    ScrapeActionWaitFor:
      type: object
      title: wait_for
      description: Wait for a selector, or sleep.
      required:
      - wait_for
      additionalProperties: false
      properties:
        wait_for:
          oneOf:
          - type: string
            minLength: 1
            description: 'Shorthand: CSS selector to wait for.'
          - type: object
            properties:
              selector:
                type: string
                description: CSS selector to wait for.
              ms:
                type: integer
                minimum: 0
                maximum: 30000
                description: Plain sleep in ms when no selector is given.
              wait:
                type: integer
                minimum: 0
                maximum: 30000
                description: Alias of `ms`.
              label:
                type: string
                description: Name echoed in diagnostics and screenshot labels; defaults to `<verb>[index]`.
              timeout_ms:
                type: integer
                minimum: 1
                description: Per-step timeout in ms; omitted or <=0 uses the engine default. May also
                  be placed inside the verb object.
              on_error:
                type: string
                enum:
                - fail
                - skip
                default: fail
                description: '`fail` ends the request at 0 credits naming the step; `skip` records the
                  failure and continues. May also be placed inside the verb object.'
            description: Needs `selector` or a positive `ms`/`wait`, else 400.
        label:
          type: string
          description: Name echoed in diagnostics and screenshot labels; defaults to `<verb>[index]`.
        timeout_ms:
          type: integer
          minimum: 1
          description: Per-step timeout in ms; omitted or <=0 uses the engine default. May also be placed
            inside the verb object.
        on_error:
          type: string
          enum:
          - fail
          - skip
          default: fail
          description: '`fail` ends the request at 0 credits naming the step; `skip` records the failure
            and continues. May also be placed inside the verb object.'
    ScrapeActionClick:
      type: object
      title: click
      description: Click an element.
      required:
      - click
      additionalProperties: false
      properties:
        click:
          oneOf:
          - type: string
            minLength: 1
            description: 'Shorthand: CSS selector to click.'
          - type: object
            properties:
              selector:
                type: string
                minLength: 1
              label:
                type: string
                description: Name echoed in diagnostics and screenshot labels; defaults to `<verb>[index]`.
              timeout_ms:
                type: integer
                minimum: 1
                description: Per-step timeout in ms; omitted or <=0 uses the engine default. May also
                  be placed inside the verb object.
              on_error:
                type: string
                enum:
                - fail
                - skip
                default: fail
                description: '`fail` ends the request at 0 credits naming the step; `skip` records the
                  failure and continues. May also be placed inside the verb object.'
            description: Unknown keys inside the verb object are ignored.
            required:
            - selector
        label:
          type: string
          description: Name echoed in diagnostics and screenshot labels; defaults to `<verb>[index]`.
        timeout_ms:
          type: integer
          minimum: 1
          description: Per-step timeout in ms; omitted or <=0 uses the engine default. May also be placed
            inside the verb object.
        on_error:
          type: string
          enum:
          - fail
          - skip
          default: fail
          description: '`fail` ends the request at 0 credits naming the step; `skip` records the failure
            and continues. May also be placed inside the verb object.'
    ScrapeActionFill:
      type: object
      title: fill
      description: Type a value into an input.
      required:
      - fill
      additionalProperties: false
      properties:
        fill:
          type: object
          properties:
            selector:
              type: string
              minLength: 1
              description: Input to fill.
            value:
              type: string
              description: Text to enter; must be a string.
            secret:
              type: boolean
              default: false
              description: Redact the value from logs, results and diagnostics; use for passwords.
            label:
              type: string
              description: Name echoed in diagnostics and screenshot labels; defaults to `<verb>[index]`.
            timeout_ms:
              type: integer
              minimum: 1
              description: Per-step timeout in ms; omitted or <=0 uses the engine default. May also be
                placed inside the verb object.
            on_error:
              type: string
              enum:
              - fail
              - skip
              default: fail
              description: '`fail` ends the request at 0 credits naming the step; `skip` records the failure
                and continues. May also be placed inside the verb object.'
          description: Unknown keys inside the verb object are ignored.
          required:
          - selector
          - value
        label:
          type: string
          description: Name echoed in diagnostics and screenshot labels; defaults to `<verb>[index]`.
        timeout_ms:
          type: integer
          minimum: 1
          description: Per-step timeout in ms; omitted or <=0 uses the engine default. May also be placed
            inside the verb object.
        on_error:
          type: string
          enum:
          - fail
          - skip
          default: fail
          description: '`fail` ends the request at 0 credits naming the step; `skip` records the failure
            and continues. May also be placed inside the verb object.'
    ScrapeActionSelect:
      type: object
      title: select
      description: Choose option(s) in a <select>.
      required:
      - select
      additionalProperties: false
      properties:
        select:
          type: object
          properties:
            selector:
              type: string
              minLength: 1
            value:
              type: string
              description: Single option value.
            values:
              type: array
              items:
                type: string
              description: Several option values (multi-select); overrides `value`.
            label:
              type: string
              description: Name echoed in diagnostics and screenshot labels; defaults to `<verb>[index]`.
            timeout_ms:
              type: integer
              minimum: 1
              description: Per-step timeout in ms; omitted or <=0 uses the engine default. May also be
                placed inside the verb object.
            on_error:
              type: string
              enum:
              - fail
              - skip
              default: fail
              description: '`fail` ends the request at 0 credits naming the step; `skip` records the failure
                and continues. May also be placed inside the verb object.'
          description: Needs `value` or a non-empty `values`, else 400.
          required:
          - selector
        label:
          type: string
          description: Name echoed in diagnostics and screenshot labels; defaults to `<verb>[index]`.
        timeout_ms:
          type: integer
          minimum: 1
          description: Per-step timeout in ms; omitted or <=0 uses the engine default. May also be placed
            inside the verb object.
        on_error:
          type: string
          enum:
          - fail
          - skip
          default: fail
          description: '`fail` ends the request at 0 credits naming the step; `skip` records the failure
            and continues. May also be placed inside the verb object.'
    ScrapeActionScroll:
      type: object
      title: scroll
      description: Scroll the page or an element into view.
      required:
      - scroll
      additionalProperties: false
      properties:
        scroll:
          type: object
          properties:
            y:
              type: integer
              description: Pixels to scroll vertically.
            pixels:
              type: integer
              description: Alias of `y`.
            selector:
              type: string
              description: Scroll this element into view.
            to_bottom:
              type: boolean
              default: false
              description: Scroll to the bottom of the page.
            label:
              type: string
              description: Name echoed in diagnostics and screenshot labels; defaults to `<verb>[index]`.
            timeout_ms:
              type: integer
              minimum: 1
              description: Per-step timeout in ms; omitted or <=0 uses the engine default. May also be
                placed inside the verb object.
            on_error:
              type: string
              enum:
              - fail
              - skip
              default: fail
              description: '`fail` ends the request at 0 credits naming the step; `skip` records the failure
                and continues. May also be placed inside the verb object.'
          description: Needs non-zero `y`/`pixels`, a `selector`, or to_bottom=true, else 400.
        label:
          type: string
          description: Name echoed in diagnostics and screenshot labels; defaults to `<verb>[index]`.
        timeout_ms:
          type: integer
          minimum: 1
          description: Per-step timeout in ms; omitted or <=0 uses the engine default. May also be placed
            inside the verb object.
        on_error:
          type: string
          enum:
          - fail
          - skip
          default: fail
          description: '`fail` ends the request at 0 credits naming the step; `skip` records the failure
            and continues. May also be placed inside the verb object.'
    ScrapeActionEvaluate:
      type: object
      title: evaluate
      description: Run JavaScript in the page.
      required:
      - evaluate
      additionalProperties: false
      properties:
        evaluate:
          oneOf:
          - type: string
            minLength: 1
            description: 'Shorthand: JavaScript expression.'
          - type: object
            properties:
              expression:
                type: string
                minLength: 1
                description: JavaScript run in the page.
              return_value:
                type: boolean
                default: false
                description: Return the expression's value in the step result.
              label:
                type: string
                description: Name echoed in diagnostics and screenshot labels; defaults to `<verb>[index]`.
              timeout_ms:
                type: integer
                minimum: 1
                description: Per-step timeout in ms; omitted or <=0 uses the engine default. May also
                  be placed inside the verb object.
              on_error:
                type: string
                enum:
                - fail
                - skip
                default: fail
                description: '`fail` ends the request at 0 credits naming the step; `skip` records the
                  failure and continues. May also be placed inside the verb object.'
            description: Unknown keys inside the verb object are ignored.
            required:
            - expression
        label:
          type: string
          description: Name echoed in diagnostics and screenshot labels; defaults to `<verb>[index]`.
        timeout_ms:
          type: integer
          minimum: 1
          description: Per-step timeout in ms; omitted or <=0 uses the engine default. May also be placed
            inside the verb object.
        on_error:
          type: string
          enum:
          - fail
          - skip
          default: fail
          description: '`fail` ends the request at 0 credits naming the step; `skip` records the failure
            and continues. May also be placed inside the verb object.'
    ScrapeActionScreenshot:
      type: object
      title: screenshot
      description: Capture a screenshot mid-workflow (needs camoufox or chromium); returned under `screenshots`
        with this step's label.
      required:
      - screenshot
      additionalProperties: false
      properties:
        screenshot:
          type: object
          properties:
            full_page:
              type: boolean
              default: false
              description: Capture the full page; exclusive with selector.
            selector:
              type: string
              description: Element to capture; exclusive with full_page.
            format:
              type: string
              enum:
              - png
              - jpeg
              - jpg
              - webp
              description: Image format; engine default if omitted.
            quality:
              type: integer
              minimum: 0
              maximum: 100
              default: 0
              description: Lossy quality; 0 = engine default.
            label:
              type: string
              description: Name echoed in diagnostics and screenshot labels; defaults to `<verb>[index]`.
            timeout_ms:
              type: integer
              minimum: 1
              description: Per-step timeout in ms; omitted or <=0 uses the engine default. May also be
                placed inside the verb object.
            on_error:
              type: string
              enum:
              - fail
              - skip
              default: fail
              description: '`fail` ends the request at 0 credits naming the step; `skip` records the failure
                and continues. May also be placed inside the verb object.'
          description: Unknown keys inside the verb object are ignored.
        label:
          type: string
          description: Name echoed in diagnostics and screenshot labels; defaults to `<verb>[index]`.
        timeout_ms:
          type: integer
          minimum: 1
          description: Per-step timeout in ms; omitted or <=0 uses the engine default. May also be placed
            inside the verb object.
        on_error:
          type: string
          enum:
          - fail
          - skip
          default: fail
          description: '`fail` ends the request at 0 credits naming the step; `skip` records the failure
            and continues. May also be placed inside the verb object.'
    ScrapeAction:
      description: 'One workflow step: an object with exactly one verb key plus optional label/timeout_ms/on_error.
        Two verb keys, or an unknown verb, is 400 ERR::REQUEST::INVALID_PARAMETER before anything is spent.'
      oneOf:
      - $ref: '#/components/schemas/ScrapeActionWaitFor'
      - $ref: '#/components/schemas/ScrapeActionClick'
      - $ref: '#/components/schemas/ScrapeActionFill'
      - $ref: '#/components/schemas/ScrapeActionSelect'
      - $ref: '#/components/schemas/ScrapeActionScroll'
      - $ref: '#/components/schemas/ScrapeActionEvaluate'
      - $ref: '#/components/schemas/ScrapeActionScreenshot'
    NetworkCapture:
      type: object
      additionalProperties: false
      description: Filters for recording the responses the page fetched. Browser-only.
      properties:
        urls:
          type: array
          items:
            type: string
          description: Substring matches, or anchored regexes when starting with `^`; empty captures every
            response of the selected types.
        resource_types:
          type: array
          items:
            type: string
            enum:
            - document
            - stylesheet
            - image
            - media
            - font
            - script
            - xhr
            - fetch
            - websocket
            - other
          default:
          - xhr
          - fetch
          description: Resource types to record (exact singular names; no aliases). Unknown values are
            400.
        include_bodies:
          type: boolean
          default: true
          description: Include response bodies; false returns url/status/type/timing only, far smaller.
        max_body_bytes:
          type: integer
          minimum: 0
          maximum: 2097152
          default: 1048576
          description: Per-response body cap in bytes; 0 = default. Larger bodies are truncated and flagged
            body_truncated.
        max_responses:
          type: integer
          minimum: 0
          maximum: 100
          default: 100
          description: Maximum responses recorded; 0 = default.
    AIExtract:
      type: object
      additionalProperties: false
      description: Exactly one of `prompt` or `schema` (both is 400 INCOMPATIBLE_FLAGS, neither is 400
        INVALID_PARAMETER). The model reads the page as cleaned markdown; output lands in `data`. +4 credits.
      properties:
        prompt:
          type: string
          minLength: 1
          description: Plain-language description of the data to extract.
        schema:
          type: object
          minProperties: 1
          description: JSON Schema the output must follow.
      oneOf:
      - required:
        - prompt
        not:
          required:
          - schema
      - required:
        - schema
        not:
          required:
          - prompt
    ScrapeExtractRule:
      type: object
      additionalProperties: true
      required:
      - selector
      description: One extraction rule. Unrecognised keys are ignored.
      properties:
        selector:
          type: string
          minLength: 1
          description: CSS selector or XPath expression.
        type:
          type: string
          enum:
          - css
          - xpath
          default: css
          description: Selector language.
        kind:
          type: string
          enum:
          - item
          - list
          default: item
          description: '`item` returns the first match, `list` all matches.'
        output:
          type: string
          enum:
          - text
          - html
          - outer_html
          - attr
          - table_json
          - table_array
          - exists
          - count
          default: text
          description: What to return per match.
        attribute:
          type: string
          description: Attribute name; required when output=attr and forbidden otherwise.
        clean:
          type: boolean
          default: true
          description: Normalise whitespace in text output.
        nested:
          allOf:
          - $ref: '#/components/schemas/ScrapeExtractSelectorMap'
          description: Rules evaluated inside each match; requires output html or outer_html. Max nesting
            depth 5.
    ScrapeExtractSelectorMap:
      type: object
      minProperties: 1
      maxProperties: 100
      description: Field name -> selector string or rule. A string may end in `@attr` (e.g. `a.next@href`)
        to return that attribute. 1-100 fields per level.
      additionalProperties:
        oneOf:
        - type: string
          minLength: 1
        - $ref: '#/components/schemas/ScrapeExtractRule'
    ScrapeExtractSchema:
      type: object
      required:
      - type
      - properties
      additionalProperties: true
      description: JSON Schema form, chosen when `type` is "object" and `properties` is an object. Every
        property (or its items/nested properties) needs a `selector`; values are coerced to the declared
        types and validated.
      properties:
        type:
          const: object
        properties:
          type: object
          minProperties: 1
          maxProperties: 100
          additionalProperties:
            type: object
            description: JSON Schema property plus a `selector` keyword.
        required:
          type: array
          items:
            type: string
        strict:
          type: boolean
          default: false
          description: Passed to the extractor to enforce the schema strictly.
    ScrapeExtract:
      description: Selector map or JSON Schema form. An empty object is 400. Refused on PDF targets (502
        ERR::EXTRACT::FAILED).
      anyOf:
      - $ref: '#/components/schemas/ScrapeExtractSchema'
      - $ref: '#/components/schemas/ScrapeExtractSelectorMap'
    ScrapeScreenshot:
      type: object
      required:
      - label
      - encoding
      - data
      - size_bytes
      properties:
        label:
          type: string
          description: '`final` for the top-level screenshot, or the owning action''s label.'
        encoding:
          type: string
          const: base64
        data:
          type: string
          contentEncoding: base64
          description: Image bytes.
        size_bytes:
          type: integer
          description: Decoded length of `data`.
        format:
          type: string
          enum:
          - png
          - jpeg
          - webp
        width:
          type: integer
          description: Omitted when not measured.
        height:
          type: integer
          description: Omitted when not measured.
    ScrapeNetworkResponse:
      type: object
      required:
      - url
      - status
      - resource_type
      properties:
        url:
          type: string
        status:
          type: integer
        resource_type:
          type: string
        content_type:
          type: string
        duration_ms:
          type: integer
        from_cache:
          type: boolean
        body_truncated:
          type: boolean
          description: Body was cut at max_body_bytes; truncated JSON is delivered as base64.
        body:
          description: Parsed JSON body, present when the response was complete, valid JSON with a JSON
            content type.
        body_base64:
          type: string
          contentEncoding: base64
          description: Any other body.
        encoding:
          type: string
          const: base64
          description: Present with body_base64.
    ScrapeDiagnostics:
      type: object
      description: 'Present on a successful mode=auto escalation: which rungs were tried and why they
        were abandoned.'
      properties:
        failed_at:
          type: string
        timeline:
          type: array
          items:
            type: object
            required:
            - stage
            - ms
            - ok
            properties:
              stage:
                type: string
              ms:
                type: integer
              ok:
                type: boolean
              detail:
                type: string
        attempts:
          type: array
          items:
            type: object
            required:
            - n
            - outcome
            - ms
            properties:
              n:
                type: integer
              engine:
                type: string
              proxy:
                type: string
              outcome:
                type: string
              ms:
                type: integer
              error_code:
                type: string
        budget_ms:
          type: integer
        elapsed_ms:
          type: integer
        engine:
          type: string
        proxy:
          type: object
          properties:
            source:
              type: string
            endpoint:
              type: string
            country:
              type: string
        hint:
          type: string
    ScrapeEnvelope:
      type: object
      required:
      - url
      - final_url
      - status
      - content
      - headers
      - truncated
      - credits
      - engine
      - proxy_source
      - warnings
      description: Returned for response_format=json, or whenever extract/autoparse/links/ai_extract/network_capture/screenshot
        is set.
      properties:
        url:
          type: string
          description: The requested URL.
        final_url:
          type: string
          description: URL after redirects; may be empty.
        status:
          type: integer
          description: The TARGET's HTTP status (not this response's). Anything other than 200/404/410
            or allowed_status_codes was charged 0.
        content:
          type: string
          description: 'The page in the requested rendering: html (cleaned html if extraction produced
            one), markdown or text.'
        headers:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
          description: The target's response headers.
        truncated:
          type: boolean
          description: The target body exceeded the size cap and was cut.
        credits:
          type: integer
          minimum: 0
          description: Credits charged for this request (same as X-Credits-Charged).
        engine:
          type: string
          enum:
          - fetch
          - obscura
          - camoufox
          - chromium
          description: Engine that produced the page.
        proxy_source:
          type: string
          enum:
          - pool
          - custom
          - direct
        warnings:
          type: array
          items:
            type: string
          description: Human-readable warnings (messages only; codes are on X-Warning).
        data:
          type: object
          description: Output of extract, autoparse or ai_extract.
        empty_fields:
          type: array
          items:
            type: string
          description: Extraction rules that matched nothing - the usual sign a selector broke.
        links:
          type: array
          items:
            type: string
            format: uri
          description: Present (possibly empty) when links=true.
        screenshots:
          type: array
          items:
            $ref: '#/components/schemas/ScrapeScreenshot'
          description: Delivered images only; undelivered ones are reported in warnings and charged 0.
        network:
          type: array
          items:
            $ref: '#/components/schemas/ScrapeNetworkResponse'
          description: Captured responses when network_capture was set.
        diagnostics:
          $ref: '#/components/schemas/ScrapeDiagnostics'
    BatchJobStatus:
      type: string
      enum:
      - queued
      - running
      - paused
      - cancelling
      - completed
      - failed
      - cancelled
      description: |
        Job lifecycle. `queued` → `running` → `completed` | `failed`; cancel moves a live job to `cancelling`, then the worker
        moves it to `cancelled` once in-flight items drain. `paused` is an operator state (no public endpoint pauses).
        Terminal: `completed`, `failed`, `cancelled` — stop polling. A terminal job returns to `queued` after batchRetry.
    BatchItemStatus:
      type: string
      enum:
      - succeeded
      - failed
      - cancelled
      - skipped
      description: Terminal item status on a result line. `succeeded` is the only status that carries
        credits or a body. Items still `queued`/`running` are never returned.
    BatchScrapeParams:
      type: object
      description: |
        The /v1/scrape request object as accepted by batch, minus `url`. Field names, types and validation are exactly
        ScrapeRequest's (enforced by a parity test); each property below references it. Every item is merged as
        job-level value, overridden by the item's value (an explicit `false` on an item wins), with the project's
        dashboard defaults underneath both. Validation happens for every item at submission.

        IMPORTANT — what the current batch worker actually executes: only `js_render`, `stealth`, `premium_proxy`,
        `proxy_country`, `proxy` (always with verify off) and, on rendered items, `block_resources`. Requests are always
        GET and the payload is the raw page (HTML, or the decoded body for non-rendered fetches). Every other field is
        accepted, validated and counted in the credit reservation for parity with /v1/scrape, but has no effect on the
        batch result. If you need extraction, screenshots, actions, sessions or a non-HTML `response_format`, use /v1/scrape.
      properties:
        method:
          $ref: '#/components/schemas/ScrapeRequest/properties/method'
          description: Validated as on /v1/scrape, but the batch worker always sends GET. Leave unset.
        js_render:
          $ref: '#/components/schemas/ScrapeRequest/properties/js_render'
          description: Render the page with the obscura browser engine. Honoured by the batch worker.
            Default false (or the project default).
        stealth:
          $ref: '#/components/schemas/ScrapeRequest/properties/stealth'
          description: Coming soon. Render with the camoufox anti-detection engine; takes precedence over `js_render`.
            Honoured by the batch worker. Default false (or the project default).
        impersonate:
          $ref: '#/components/schemas/ScrapeRequest/properties/impersonate'
          description: Validated and priced as on /v1/scrape; not applied by the batch worker.
        mode:
          $ref: '#/components/schemas/ScrapeRequest/properties/mode'
          description: Validated and priced as on /v1/scrape (`auto` reserves the dearest tier). The batch
            worker does not escalate; it runs fetch unless `js_render` or `stealth` is set. Cannot be
            combined with `engine` (400 INCOMPATIBLE_FLAGS).
        engine:
          $ref: '#/components/schemas/ScrapeRequest/properties/engine'
          description: |
            Engine `camoufox` is coming soon.
            Engine pin. On batch only `fetch`, `obscura`, `camoufox` are allowed; `chromium` is rejected with 400
            INVALID_PARAMETER (use /v1/scrape for chromium). Also 400 INCOMPATIBLE_FLAGS for: `mode=auto` plus any pin;
            `stealth=true` with a pin other than camoufox; `js_render=true` with `fetch`; `screenshot=true` with `fetch`
            or `obscura`. A pin the plan does not include is 403 (plans whose entitlements cannot be read allow only
            fetch and obscura). To be sure the worker renders, set `js_render` (obscura) or `stealth` (camoufox) rather
            than relying on the pin alone.
        premium_proxy:
          $ref: '#/components/schemas/ScrapeRequest/properties/premium_proxy'
          description: Coming soon. Use the residential proxy pool instead of datacenter. Honoured by the batch worker;
            ignored when `proxy` is set.
        proxy_country:
          $ref: '#/components/schemas/ScrapeRequest/properties/proxy_country'
          description: Coming soon. Exit country for pool proxies. Honoured by the batch worker.
        proxy:
          $ref: '#/components/schemas/ScrapeRequest/properties/proxy'
          description: Your own proxy URL; wins over the pool flags. Honoured by the batch worker (without
            proxy verification).
        proxy_verify:
          $ref: '#/components/schemas/ScrapeRequest/properties/proxy_verify'
          description: Validated as on /v1/scrape; the batch worker always sends the custom proxy with
            verification off.
        session_id:
          $ref: '#/components/schemas/ScrapeRequest/properties/session_id'
          description: Validated as on /v1/scrape; batch items do not run inside a session. Not applied.
        sticky_key:
          $ref: '#/components/schemas/ScrapeRequest/properties/sticky_key'
          description: Coming soon. Validated as on /v1/scrape; not applied by the batch worker.
        wait:
          $ref: '#/components/schemas/ScrapeRequest/properties/wait'
          description: Validated as on /v1/scrape; not applied by the batch worker.
        wait_for:
          $ref: '#/components/schemas/ScrapeRequest/properties/wait_for'
          description: Validated as on /v1/scrape; not applied by the batch worker.
        wait_for_timeout:
          $ref: '#/components/schemas/ScrapeRequest/properties/wait_for_timeout'
          description: Validated as on /v1/scrape; not applied by the batch worker.
        actions:
          $ref: '#/components/schemas/ScrapeRequest/properties/actions'
          description: Validated as on /v1/scrape; the batch worker does not run browser actions.
        block_resources:
          $ref: '#/components/schemas/ScrapeRequest/properties/block_resources'
          description: Resource classes to block while rendering. Honoured on rendered items only; unset
            blocks images and fonts, `none` blocks nothing, a list replaces the default. Falls back to
            the project default when unset.
        headless:
          $ref: '#/components/schemas/ScrapeRequest/properties/headless'
          description: Validated as on /v1/scrape (the project default for headless is NOT merged on batch).
            `false` needs chromium, which batch cannot pin. Not applied by the batch worker.
        screenshot:
          $ref: '#/components/schemas/ScrapeRequest/properties/screenshot'
          description: Validated and priced as on /v1/scrape; the batch worker returns no screenshot.
            With `engine` fetch/obscura it is a 400.
        screenshot_fullpage:
          $ref: '#/components/schemas/ScrapeRequest/properties/screenshot_fullpage'
          description: Validated as on /v1/scrape; not applied by the batch worker.
        screenshot_selector:
          $ref: '#/components/schemas/ScrapeRequest/properties/screenshot_selector'
          description: Validated as on /v1/scrape; not applied by the batch worker.
        screenshot_format:
          $ref: '#/components/schemas/ScrapeRequest/properties/screenshot_format'
          description: Validated as on /v1/scrape; not applied by the batch worker.
        screenshot_quality:
          $ref: '#/components/schemas/ScrapeRequest/properties/screenshot_quality'
          description: Validated as on /v1/scrape; not applied by the batch worker.
        custom_headers:
          $ref: '#/components/schemas/ScrapeRequest/properties/custom_headers'
          description: Validated as on /v1/scrape; the batch worker does not send custom headers.
        autoparse:
          $ref: '#/components/schemas/ScrapeRequest/properties/autoparse'
          description: Validated as on /v1/scrape; not applied by the batch worker.
        links:
          $ref: '#/components/schemas/ScrapeRequest/properties/links'
          description: Validated as on /v1/scrape; not applied by the batch worker.
        network_capture:
          $ref: '#/components/schemas/ScrapeRequest/properties/network_capture'
          description: Validated as on /v1/scrape (see NetworkCapture); not applied by the batch worker.
        extract:
          $ref: '#/components/schemas/ScrapeRequest/properties/extract'
          description: Validated as on /v1/scrape; the batch worker returns the raw page, not extracted
            fields.
        extract_preset:
          $ref: '#/components/schemas/ScrapeRequest/properties/extract_preset'
          description: Validated as on /v1/scrape; not applied by the batch worker.
        ai_extract:
          $ref: '#/components/schemas/ScrapeRequest/properties/ai_extract'
          description: Validated as on /v1/scrape (see AIExtract); not applied by the batch worker.
        main_content_only:
          $ref: '#/components/schemas/ScrapeRequest/properties/main_content_only'
          description: Validated as on /v1/scrape; not applied by the batch worker.
        include_tags:
          $ref: '#/components/schemas/ScrapeRequest/properties/include_tags'
          description: Validated as on /v1/scrape; not applied by the batch worker.
        exclude_tags:
          $ref: '#/components/schemas/ScrapeRequest/properties/exclude_tags'
          description: Validated as on /v1/scrape; not applied by the batch worker.
        parse_pdf:
          $ref: '#/components/schemas/ScrapeRequest/properties/parse_pdf'
          description: Validated as on /v1/scrape (default true); not applied by the batch worker.
        response_format:
          $ref: '#/components/schemas/ScrapeRequest/properties/response_format'
          description: Validated as on /v1/scrape, but the batch worker always returns the raw page body
            regardless of this value (no markdown, json, text or pdf conversion).
        cache:
          $ref: '#/components/schemas/ScrapeRequest/properties/cache'
          description: Validated as on /v1/scrape, but on batch it defaults to false (not true) and the
            worker never reads from the cache.
        cache_ttl:
          $ref: '#/components/schemas/ScrapeRequest/properties/cache_ttl'
          description: Validated as on /v1/scrape; `0` does not imply `cache=false` on batch. Not applied
            by the batch worker.
        max_cost:
          $ref: '#/components/schemas/ScrapeRequest/properties/max_cost'
          description: Per-ITEM credit ceiling, checked at submission against the item's dearest outcome
            (400 if exceeded). For a ceiling on the whole run use `credit_budget`.
        original_status:
          $ref: '#/components/schemas/ScrapeRequest/properties/original_status'
          description: Validated as on /v1/scrape; not applied (result lines always carry the target status
            in `http_status`).
        allowed_status_codes:
          $ref: '#/components/schemas/ScrapeRequest/properties/allowed_status_codes'
          description: Validated as on /v1/scrape; not applied. Billing is fixed to target statuses 200,
            404 and 410.
    BatchItem:
      description: |
        One URL of a batch: a /v1/scrape request object (every BatchScrapeParams field plus `url`) and an optional
        `external_id`. Fields set here override the job-level value for this item only. Unknown fields are a 400.
        Run controls (`concurrency`, `priority`, etc.) are not accepted on an item.
      allOf:
      - $ref: '#/components/schemas/BatchScrapeParams'
      type: object
      required:
      - url
      properties:
        url:
          $ref: '#/components/schemas/ScrapeRequest/properties/url'
          description: The target URL for this item, validated exactly as /v1/scrape's `url` (http/https,
            SSRF and blocklist checks). Stored up to 8,192 characters.
        external_id:
          type: string
          maxLength: 255
          description: Your correlation id, echoed verbatim on this item's result line and never sent
            to the target. Trimmed of whitespace; empty means none. Not required to be unique.
      unevaluatedProperties: false
    BatchCreateRequest:
      description: |
        Body of POST /v1/batch (and of POST /v1/batch/{batchID}/items). Exactly one of `urls` or `items` must be non-empty.
        Top-level BatchScrapeParams fields are job-wide defaults. A top-level `url` is rejected with 400 — put targets in
        `urls` or `items[].url`. Unknown fields are a 400. Must be ≤ 1 MiB; ≤ 10,000 targets.
      allOf:
      - $ref: '#/components/schemas/BatchScrapeParams'
      type: object
      properties:
        name:
          type: string
          description: Free-text label shown on the job object and in the dashboard. No uniqueness; omit
            for none.
        urls:
          type: array
          minItems: 1
          maxItems: 10000
          items:
            type: string
            format: uri
          description: Shorthand list of targets that all use the job-level settings. Mutually exclusive
            with `items` (both → 400 INCOMPATIBLE_FLAGS; neither → 400 MISSING_PARAMETER). Order defines
            `seq` (0-based).
        items:
          type: array
          minItems: 1
          maxItems: 10000
          items:
            $ref: '#/components/schemas/BatchItem'
          description: Long form, one object per target with optional per-item overrides and `external_id`.
            Mutually exclusive with `urls`. Order defines `seq` (0-based).
        concurrency:
          type: integer
          default: 10
          description: Max items of this job in flight at once. Values below 1 become 1; values above
            50 are clamped to 50 and reported in the job's `warnings` (not an error).
        priority:
          type: integer
          minimum: 0
          maximum: 1000
          default: 100
          description: Scheduling priority relative to your other jobs. Outside 0-1000 is a 400.
        max_attempts:
          type: integer
          minimum: 1
          maximum: 10
          default: 3
          description: Attempts per item before it is marked failed (only retryable failures are re-attempted).
            Outside 1-10 is a 400.
        failure_threshold:
          type: integer
          format: int64
          minimum: 1
          description: Abort the job as `failed` once this many items have failed. Omit to never abort
            early. 0 or negative is a 400.
        credit_budget:
          type: integer
          minimum: 1
          description: Ceiling on the WHOLE run in whole credits; the worker stops charging work beyond
            it. Omit to use the job's projected cost; an `open` job then has no ceiling, because its
            projection covers only the items it was submitted with. Stored as given in
            `params.credit_budget_micro`. 0 or negative is a 400. Different from `max_cost`,
            which is per item.
        webhook_endpoint_id:
          type: string
          description: Id of a webhook endpoint registered for this organization; it receives the job
            object when the job finishes (notify-only — fetch results yourself). A value that is not a
            valid id is a 400; blank is treated as absent.
        open:
          type: boolean
          default: false
          description: Keep the job accepting more items via POST /v1/batch/{batchID}/items. An open job
            never completes on its own — call POST /v1/batch/{batchID}/close when done. Total across appends
            is capped at 100,000 items.
      unevaluatedProperties: false
      examples:
      - name: catalog-2026-09-22
        items:
        - url: https://example.com/products/1
        - url: https://example.com/products/2
          external_id: sku-42
          stealth: true
        js_render: true
        proxy_country: us
        concurrency: 20
        max_attempts: 3
    BatchJobProgress:
      type: object
      description: Live counters for the job, read from sharded counters. `completed` = succeeded + failed
        + cancelled + skipped; `remaining` = total − completed.
      required:
      - total
      - completed
      - succeeded
      - failed
      - cancelled
      - skipped
      - remaining
      - percent_complete
      - credits_charged
      - credits_charged_micro
      - bytes
      properties:
        total:
          type: integer
          format: int64
          minimum: 0
          description: Items in the job (same as `total_items`). Grows when items are appended to an open
            job.
        completed:
          type: integer
          format: int64
          minimum: 0
          description: Items in any terminal status.
        succeeded:
          type: integer
          format: int64
          minimum: 0
          description: Items that succeeded. Only these are charged.
        failed:
          type: integer
          format: int64
          minimum: 0
          description: Items that failed after all attempts. Re-run them with POST /v1/batch/{batchID}/retry.
        cancelled:
          type: integer
          format: int64
          minimum: 0
          description: Items not run because the job was cancelled.
        skipped:
          type: integer
          format: int64
          minimum: 0
          description: Items the worker skipped (for example after `failure_threshold` or `credit_budget`
            stopped the run).
        remaining:
          type: integer
          format: int64
          minimum: 0
          description: Items not yet finished.
        percent_complete:
          type: number
          minimum: 0
          maximum: 100
          description: completed / total × 100.
        credits_charged:
          type: integer
          minimum: 0
          description: Credits actually charged so far, whole credits rounded down. Sum over succeeded
            items only. This is the real spend; compare with the job's `estimated_credits` (the hold).
        credits_charged_micro:
          type: integer
          format: int64
          minimum: 0
          description: Same as `credits_charged` in micro-credits (1 credit = 1,000,000). Use this for
            exact accounting.
        bytes:
          type: integer
          format: int64
          minimum: 0
          description: Total response bytes of finished items.
    BatchJob:
      type: object
      description: |
        The batch job, identical in shape across create, list, get, cancel and close. Poll `status_url` until `status` is
        terminal (`completed`, `failed`, `cancelled`), then read `results_url` before `results_expire_at`.
        There is no `credits_held` field: the hold is `estimated_credits`, the spend is `progress.credits_charged`.
      required:
      - id
      - project_id
      - status
      - status_url
      - results_url
      - params
      - total_items
      - concurrency
      - priority
      - max_attempts
      - estimated_credits
      - estimated_credits_micro
      - progress
      - submitted_at
      properties:
        id:
          type: string
          description: Job id (26-character ULID). Use it in every /v1/batch/{batchID} path.
        project_id:
          type: string
          description: Project the submitting API key belongs to.
        name:
          type: string
          description: The `name` you submitted. Absent when none.
        status:
          $ref: '#/components/schemas/BatchJobStatus'
          description: Current lifecycle state. Keep polling while `queued`, `running`, `paused` or `cancelling`;
            stop at `completed`, `failed` or `cancelled`.
        open:
          type: boolean
          description: Present and true while the job accepts appended items; it will not complete until
            you close it. Absent means closed.
        status_url:
          type: string
          description: 'Relative path to poll: /v1/batch/{id}.'
        results_url:
          type: string
          description: 'Relative path of the JSONL results: /v1/batch/{id}/results.'
        params:
          type: object
          additionalProperties: true
          description: The job-level scrape parameters as stored (your top-level BatchScrapeParams, without
            `url`), plus `credit_budget_micro` — the run ceiling the worker enforces. Always present,
            possibly only `credit_budget_micro`.
        total_items:
          type: integer
          format: int64
          minimum: 0
          description: Number of items in the job. Fixed at submission unless items are appended to an
            open job.
        concurrency:
          type: integer
          minimum: 1
          maximum: 50
          description: Effective per-job concurrency after clamping.
        priority:
          type: integer
          minimum: 0
          maximum: 1000
          description: Effective priority.
        max_attempts:
          type: integer
          minimum: 1
          maximum: 10
          description: Effective attempts per item.
        failure_threshold:
          type: integer
          format: int64
          minimum: 1
          description: Failed-item count that aborts the job. Absent when not set.
        estimated_credits:
          type: integer
          minimum: 0
          description: Credits RESERVED against the monthly allowance at submission — the dearest outcome
            of every item (whole credits, rounded down). It is a hold, not a charge; credits held for
            items that fail, are cancelled or skipped are returned to the monthly allowance within
            about a minute of the item finishing, by a background settler. Succeeded items keep their
            charge. Not increased by appends. Appended items are reserved when they are added, and the
            append's own total is its `X-Request-Cost`. Retrying failed items (`POST
            /v1/batch/{id}/retry`) holds their price again first and is refused with 402 if the
            allowance cannot cover it.
        estimated_credits_micro:
          type: integer
          format: int64
          minimum: 0
          description: Same as `estimated_credits` in micro-credits.
        progress:
          $ref: '#/components/schemas/BatchJobProgress'
          description: Live item counters and the credits actually charged so far.
        submitted_at:
          type: string
          format: date-time
          description: When the job was accepted.
        started_at:
          type: string
          format: date-time
          description: When the first item started. Absent until then.
        finished_at:
          type: string
          format: date-time
          description: When the job reached a terminal status. Cleared again by batchRetry.
        cancel_requested_at:
          type: string
          format: date-time
          description: When a cancel was accepted. The job may still be `cancelling` after this while
            in-flight items drain.
        results_expire_at:
          type: string
          format: date-time
          description: 'Results deadline: submitted_at + 72 h by default. After it, GET .../results answers
            410. Download before this time.'
        error_code:
          type: string
          description: Machine code of a job-level failure (for example the job was aborted). Absent otherwise.
        error_message:
          type: string
          description: Human-readable job-level failure reason.
        warnings:
          type: array
          items:
            type: string
          description: Decisions made on your behalf at submission — a clamped `concurrency`, or items
            not yet handed to the queue (do NOT resubmit in that case). Present only on the create response.
      examples:
      - id: 01J9Z6T3W9E21T5TZARVJRVN5C
        project_id: 01J8X2M4C7Q1H5V9P3R6T8W0YB
        name: catalog-2026-09-22
        status: running
        status_url: /v1/batch/01J9Z6T3W9E21T5TZARVJRVN5C
        results_url: /v1/batch/01J9Z6T3W9E21T5TZARVJRVN5C/results
        params:
          js_render: true
          proxy_country: us
          credit_budget_micro: 8000000
        total_items: 2
        concurrency: 20
        priority: 100
        max_attempts: 3
        estimated_credits: 8
        estimated_credits_micro: 8000000
        progress:
          total: 2
          completed: 1
          succeeded: 1
          failed: 0
          cancelled: 0
          skipped: 0
          remaining: 1
          percent_complete: 50
          credits_charged: 4
          credits_charged_micro: 4000000
          bytes: 326000
        submitted_at: '2026-09-22T06:41:12Z'
        started_at: '2026-09-22T06:41:13Z'
        results_expire_at: '2026-09-25T06:41:12Z'
    BatchJobList:
      type: object
      description: One page of GET /v1/batch.
      required:
      - batches
      properties:
        batches:
          type: array
          items:
            $ref: '#/components/schemas/BatchJob'
          description: Jobs, newest first. Empty array when there are none.
        next_cursor:
          type: string
          description: Present only when more jobs exist. Pass it back verbatim as `cursor`. Absent means
            you have reached the oldest job.
    BatchRetryResponse:
      type: object
      required:
      - job
      - items_reset
      - items_dispatched
      properties:
        job:
          $ref: '#/components/schemas/BatchJob'
          description: The job as it stands after this call. Poll GET /v1/batch/{batchID} for further
            progress.
        items_reset:
          type: integer
          minimum: 0
          description: Failed items reset to queued. 0 means nothing had failed and nothing changed.
        items_dispatched:
          type: integer
          minimum: 0
          description: Of those, how many reached the dispatch queue now. The rest are recovered by the
            worker's sweep.
    BatchAppendResponse:
      type: object
      required:
      - job
      - items_added
      - items_dispatched
      properties:
        job:
          $ref: '#/components/schemas/BatchJob'
          description: The job as it stands after this call. Poll GET /v1/batch/{batchID} for further
            progress.
        items_added:
          type: integer
          minimum: 1
          description: Items written to the job. Their `seq` values continue from the previous `total_items`.
        items_dispatched:
          type: integer
          minimum: 0
          description: Of those, how many reached the dispatch queue now. The rest are recovered by the
            worker's sweep; do not re-append them.
    BatchResultError:
      type: object
      description: Why an item did not succeed. Same code catalogue as /v1/scrape errors.
      required:
      - code
      - retryable
      properties:
        code:
          type: string
          description: Stable machine code, e.g. ERR::UPSTREAM::TIMEOUT or ERR::PROXY::EXHAUSTED. Switch
            on this, not on text.
          examples:
          - ERR::UPSTREAM::TIMEOUT
        retryable:
          type: boolean
          description: True when running the item again may succeed. Use POST /v1/batch/{batchID}/retry
            to re-run all failed items.
    BatchResultBody:
      type: object
      description: |
        The item's payload read from the job's stitched result file. Bounded: 524,288 bytes per item, 2,097,152 bytes per
        page, spent in `seq` order. Exactly one of these applies: full `content`; `truncated` (a prefix); `omitted`
        (no content, page budget spent); `unavailable` (the file could not be read).
      required:
      - bytes
      properties:
        content:
          type: string
          description: The worker's stored `result` value as raw JSON text (currently a JSON string literal
            holding the page HTML, so JSON-decode it once to get the HTML). May be a byte prefix when
            `truncated`, in which case it is not valid JSON.
        bytes:
          type: integer
          format: int64
          minimum: 0
          description: Full size of the stored payload in bytes, before any truncation. Compare with the
            length of `content`. 0 when `unavailable`.
        truncated:
          type: boolean
          description: 'True when `content` is only a prefix: the payload exceeded 512 KiB, or the page''s
            remaining 2 MiB budget. Request this seq alone (cursor just before it, limit=1) to get up
            to 512 KiB.'
        omitted:
          type: boolean
          description: True when no content was included because the page's 2 MiB budget was already spent.
            Request a smaller `limit`, or resume with a cursor just before this seq.
        unavailable:
          type: string
          description: Why the result file could not be read at all (the same reason is set on every line
            of the page). Report it or retry later; not a problem with the item itself.
    BatchResultLine:
      type: object
      description: One line of the JSONL results stream — one finished item. Same field names as the worker's
        stitched result file.
      required:
      - seq
      - url
      - status
      - attempts
      - credits_micro
      - bytes
      - duration_ms
      properties:
        seq:
          type: integer
          format: int64
          minimum: 0
          description: 0-based position in submission order. Stable; use it to resume and for GET .../tasks/{seq}/content.
        external_id:
          type: string
          description: The `external_id` you supplied for this item. Absent when none.
        url:
          type: string
          description: The target URL as submitted.
        status:
          $ref: '#/components/schemas/BatchItemStatus'
          description: The item's terminal status. Only `succeeded` carries a body and credits; for `failed`,
            read `error`.
        attempts:
          type: integer
          minimum: 0
          description: How many times this item was tried (not reset by retry).
        http_status:
          type: integer
          description: The TARGET site's HTTP status, not the API's. Absent when no response was received.
            A 404 here is a successful scrape of a missing page.
        request_id:
          type: string
          description: Id of the underlying request; look it up in request history for diagnostics.
        credits_micro:
          type: integer
          format: int64
          minimum: 0
          description: Micro-credits charged for this item (1 credit = 1,000,000). Always 0 unless `status`
            is `succeeded`; billable target statuses are 200, 404 and 410.
        bytes:
          type: integer
          format: int64
          minimum: 0
          description: Response size recorded for this item.
        duration_ms:
          type: integer
          format: int64
          minimum: 0
          description: Wall-clock time spent on the item's final attempt, in ms. 0 when not recorded.
        result_ref:
          type: string
          description: Storage pointer for a per-item payload. Currently never populated (the worker writes
            one file per job); ignore it.
        result:
          $ref: '#/components/schemas/BatchResultBody'
          description: The payload inline. Absent while the job is still running (no stitched file yet),
            when the deployment has no object storage, or when this item has no stored payload (typically
            non-succeeded items).
        result_url:
          type: string
          format: uri
          description: Pre-signed download link (valid 2 h) for this item's payload. Only present when
            `result_ref` is, so currently absent.
        error:
          $ref: '#/components/schemas/BatchResultError'
          description: Present when the item failed and a machine code was recorded. Absent on success.
        finished_at:
          type: string
          format: date-time
          description: When the item reached its terminal status.
      examples:
      - seq: 1
        external_id: sku-42
        url: https://example.com/products/2
        status: succeeded
        attempts: 1
        http_status: 200
        request_id: 01J9Z7A1B2C3D4E5F6G7H8J9KA
        credits_micro: 4000000
        bytes: 326000
        duration_ms: 1840
        result:
          content: '"<!doctype html><html><head><title>Product 2</title>…"'
          bytes: 326002
        finished_at: '2026-09-22T06:41:14Z'
    SessionEngine:
      type: string
      enum:
      - fetch
      - obscura
      - chromium
      - camoufox
      description: Engine a session is pinned to for its whole life. Scrapes on the session run on this
        engine; `fingerprint` is only valid with `camoufox`.
    SessionCreateRequest:
      type: object
      additionalProperties: false
      description: Body of `POST /v1/sessions`. All fields optional; unknown fields are refused with 400.
      properties:
        engine:
          allOf:
          - $ref: '#/components/schemas/SessionEngine'
          description: Engine `camoufox` is coming soon. Engine to pin. Case-insensitive. Omitted means the first of `obscura`, `chromium`
            that this deployment runs, else `fetch`. Choose explicitly if you need a browser-only feature
            such as localStorage.
        ttl_seconds:
          type: integer
          minimum: 30
          default: 1800
          description: Sliding lifetime in seconds. Omitted or 0 means 1800, reduced to the organization
            maximum with a warning if that is lower. Values above the organization maximum (default 604800,
            i.e. 7 days) are refused with 400 naming the real maximum.
        sticky_key:
          type: string
          minLength: 2
          maxLength: 64
          pattern: ^[A-Za-z0-9][A-Za-z0-9-]{0,62}[A-Za-z0-9]$
          description: Coming soon. Pins the exit IP across the session. Letters, digits and hyphens, not starting
            or ending with a hyphen. Omitted means derived from the session id (still pinned). Must be
            unique among active sessions in the project. Cannot be combined with `rotate_ip`.
        region_pool:
          type: string
          maxLength: 64
          description: Coming soon. Regional exit pool to draw from. Trimmed; longer than 64 characters is refused.
        rotate_ip:
          type: boolean
          default: false
          description: Coming soon. Keep the cookie jar but let the exit IP change between requests. Use for many-page
            crawls; avoid for replayed logins, which get challenged on a moving IP. Refused together with
            `sticky_key`.
        premium_proxy:
          type: boolean
          default: false
          description: Coming soon. Use the residential tier instead of datacenter. Same meaning as on `/v1/scrape`.
        proxy_country:
          type: string
          pattern: ^[A-Za-z]{2}$
          description: 'Coming soon. ISO 3166-1 alpha-2 exit country, case-insensitive. Requires `premium_proxy: true`,
            otherwise 400 `ERR::REQUEST::INCOMPATIBLE_FLAGS`.'
        fingerprint:
          type:
          - object
          - 'null'
          description: Camoufox fingerprint pin, stored verbatim. A non-empty object with any engine other
            than `camoufox` is refused with 400. `null` and `{}` count as absent.
        domain_scores:
          type: object
          description: Seed per-domain health, keyed by lowercase registrable domain (e.g. `example.com`).
            Scores must be non-negative. Above 64 entries, the least useful (unblocked, lowest score,
            oldest) are evicted rather than refused.
          additionalProperties:
            $ref: '#/components/schemas/SessionDomainScore'
        session_context:
          allOf:
          - $ref: '#/components/schemas/SessionContext'
          description: Initial cookies and storage, e.g. an existing login or the `session_context` from
            a previous `GET /v1/sessions/{id}/context`. Serialised size limit 1 MiB (413). Omitted means
            an empty context.
    Session:
      type: object
      description: A session as every session endpoint reports it. Never contains cookies.
      required:
      - id
      - project_id
      - engine
      - status
      - sticky_key
      - proxy
      - created_at
      - last_used_at
      - expires_at
      - usage_count
      - context
      properties:
        id:
          type: string
          description: Session id (26-character ULID). Pass it as `session_id` on `/v1/scrape`.
          examples:
          - 01J9ZQ4M7R3T8VX2K5N6P0B1CD
        project_id:
          type: string
          description: Project the session belongs to (the creating key's project).
        engine:
          $ref: '#/components/schemas/SessionEngine'
        status:
          type: string
          enum:
          - active
          - released
          - expired
          description: Derived from the clock, not a stored flag. `active` sessions can be used; `released`
            and `expired` ones have no context and cannot be revived. Create a new session.
        sticky_key:
          type: string
          description: Exit pin in use. The lowercase session id when you did not set one; empty string
            when `rotate_ip` was set.
        proxy:
          $ref: '#/components/schemas/SessionProxy'
        created_at:
          type: string
          format: date-time
          description: Creation time, RFC 3339 UTC.
        last_used_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Last time a successful scrape used the session. Null means never used.
        expires_at:
          type: string
          format: date-time
          description: Current expiry. Each successful scrape moves it to that time + the session's
            `ttl_seconds` (never earlier than it was, never past `hard_expires_at`). After it passes the
            context is purged.
        hard_expires_at:
          type: string
          format: date-time
          description: Fixed ceiling set at creation from the organization's maximum TTL. Plan a re-login
            before this time. Omitted only for legacy rows.
        released_at:
          type: string
          format: date-time
          description: When the session was released. Present only on released sessions.
        usage_count:
          type: integer
          minimum: 0
          description: Number of successful scrapes that have used the session. Failed scrapes and
            `/context` reads do not count.
        context:
          oneOf:
          - $ref: '#/components/schemas/SessionContextSummary'
[...]
